
.App{
  display: grid;
  background-color:#dadbd3;
  place-items: center;
  height: 100vh;
  
}

.app_body{
  display: flex;
  height: 90vh;
  margin-top: -50px;
  width: 90vw;
  background-color: #dedede;
  box-shadow: -1px 4px 20px -6px rgba(1, 1, 1, 1);
}